.input-text input {
    font-size: 14px;
    height: 40px;
}

.form-text {
    white-space: nowrap;
    margin-top: 10px;
}

.form-control:focus {
    border-color: #2684FF;
    box-shadow: 0 0 0 1px #2684FF;
}