.font-size-14 {
    font-size: 14px !important;
}

.css-yk16xz-control {
    height: 50px !important;
    color: #495057;
    padding-left: 14px;
}

.css-1pahdxg-control {
    height: 50px !important;
    color: #495057;
    padding-left: 14px;
}

.css-1okebmr-indicatorSeparator {
    display: none;
}